<%= link_to 'Voltar', root_path %>
<%#= !@promotions.empty? || 'Nenhuma promoção cadastrada' %>

<% if params[:query] %>
  <%= "#{@promotions.count} resultado(s) encontrado(s) para o termo: #{params[:query]}" %>
<% end %>

<%= form_with url: search_promotions_path, method: :get do |f| %>
  <%= f.label :query, 'Busca' %>
  <%= f.text_field :query %>
  <%= f.submit 'Buscar' %>
<% end %>

<% if @promotions.empty? %>
  <h3>Nenhuma promoção cadastrada</h3>
<% end %>

<% @promotions.each do |promotion| %>
  <h3><%= link_to promotion.name, promotion %></h3>
  <dl>
      <dt><%= promotion.description %></dt>
      <dd>Promoção de Natal</dd>
      <dt>Desconto <small>em porcentagem</small></dt>
      <dd><%= number_to_percentage promotion.discount_rate, separator: ',', precision: 2 %></dd>
  </dl>
<% end %>

<%= link_to 'Registrar uma promoção', new_promotion_path %>