<!DOCTYPE html>
<html>
  <head>
    <title>PromotionSystem</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <% if user_signed_in? %>
        <%= current_user.email%>
        <%= link_to 'Sair', destroy_user_session_path, method: :delete %>
        <%= link_to 'Promoções', promotions_path %>
      <% else %>
        <%= link_to 'Cadastrar', new_user_registration_path %>
        <%= link_to 'Entrar', new_user_session_path %>
      <% end %>
    </nav>

    <div class="container">
      <% if flash[:notice] %>
        <div class="alert alert-info" role="alert">
          <%= flash[:notice] %>
        </div>
      <% end %>
      <p> <%= flash[:alert] %></p>
      <%= yield %>
    </div>
    
  </body>
</html>
